<ion-header>
  <ion-navbar>
    <ion-title>
      About
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-card>
  <ion-list>
  <ion-item *ngFor="let item of attendanceList">
        <ion-label text-center >{{item.date}}</ion-label>
        <ion-label text-center >{{item.late}}</ion-label>
        <ion-label text-center >{{item.grade}}</ion-label>
  </ion-item>
  <ion-label *ngIf="!attendanceList">
    congratulations you don't waste any grads 
  </ion-label>
  </ion-list>
  </ion-card>
</ion-content>
